@import url('https://fonts.googleapis.com/css?family=Actor');

body{
    margin: 0px;
    font-family: 'Actor',Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
    overflow-x: hidden;
}

a{
    color: white;
    text-decoration: none;
}

header{ 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    width: 100vw;
    background-color: rgb(33, 33, 33);
}

.banner{
    background-color: #333333;
    padding: 2px;
    margin-bottom: 10px;
}

.banner h2{
    text-align: center;
}

nav{
    z-index: 1;
    position: sticky;
    top:0px;
    background-color: black;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    border-bottom: 2px solid rgb(76, 196, 252);
    width: 100vw;
}

nav a{
    border: 2px solid rgb(76, 196, 252);
    border-radius: 5px;
    padding:  10px;
}

nav a:hover{
    border: 2px solid rgb(76, 196, 252);
    border-radius: 5px;
    padding:  10px;
    color: rgb(76, 196, 252);
}

#projecten{
    margin: 10px;
    width: 100vw;
}

.project{
    display: flex;
    justify-content: space-between;
    transform: translateX(100vw);
    border: 2px solid rgb(76, 196, 252);
    margin-bottom: 15vh;
    animation: sliderechts 2s forwards;
}

.project:nth-child(1) { animation-delay: 0.5s }
.project:nth-child(2) { animation-delay: 1s }
.project:nth-child(3) { animation-delay: 1.5s }

/*Animation projecten*/
@keyframes sliderechts {
    from {
      transform: translateX(100vw);
    }
  
    to {
      transform: translateX(0px);
    }
}

.project img{
    height: 50vh;
    filter: grayscale(0%);
    object-fit: cover;
}

.project img:hover{
    filter: grayscale(100%);
}

.project-text{
    margin-left: 10px;
}

.project-text h2{
    margin-top: 0px;
}

#about-me{
    display: flex;
    height: 90vh;
    padding: 10px;
}

#about-text{
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#contact{
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
}

#submitbutton{
    margin-top: 10px;
    border: 2px solid rgb(76, 196, 252);
    border-radius: 5px;
    padding:  10px;
    background-color: black;
    color: white;
}

input{
    text-align: center;
    margin-top: 10px;
    border: 2px solid rgb(76, 196, 252);
    border-radius: 5px;
    padding:  10px;
    background-color: black;
    color: white;
}

input:required:invalid{
    border: 2px solid rgb(255, 0, 0);
}

footer {
    border-top: 2px solid rgb(76, 196, 252);
    left: 0;
    bottom: 0;
    width: 100vw;
    background-color: black;
    color: white;
    text-align: center;
}

footer img{
    margin: 20px;
    height: 2vw;
    bottom: 0px;
}

/*Mobile CSS*/
@media (max-device-width: 700px){
    
    body{
    font-size: 1.25em;
    }

    nav{
        flex-direction: column;
        align-items: center;
        padding: 0px;
    }

    nav a{
    width: 100vw;
    text-align: center;
    margin: 10px;
    padding: 0px;
    font-size: 3em;
    }

    #projecten{
        margin: 0px;
    }

    .project{
        flex-direction: column;
        width: 100vw;
        margin: 0px;
        margin: 50px 0px;
    }

    .project img{
        height: 100vw;
    }

    #about-me{
        flex-direction: column;
        height: auto;
    }

    #about-text{
        font-size: 1.5em;
    }

    .pasfoto{
        margin-bottom: 10px;
    }

    input{
        width: 90vw;
        font-size: 1.5em;
    }

    #submitbutton{
        margin-top: 40px;
        width: 50vw;
    }

    #contact{
        font-size: 2em;
    }

    footer img{
        width: 2em;
        height: 2em;
    }

    footer{
        font-size: 2em;
    }
}